<div class="wrapper">
	<app-back-button></app-back-button>
	<mat-card>
		<form>
			<div>
				<button type="button" mat-raised-button color="accent" (click)="fileInput.click()">
					<mat-icon>file_upload</mat-icon>
					Choose File
				</button>
				<input
					hidden
					#fileInput
					type="file"
					id="file"
					accept="image/png, image/jpg"
					(change)="onFileSelected($event)"
				>
				<button
					[disabled]="updateBtnDisabled"
					type="button"
					mat-raised-button
					color="accent"
					(click)="updateLogo()"
				>
					Update
				</button>
			</div>
			<div class="image-container" *ngIf="!updateBtnDisabled">
				<img [src]="imgSrc" alt="logo">
			</div>
		</form>
	</mat-card>
</div>
