<mat-dialog-content class="mat-typography loginDialog">
	<button
		mat-icon-button
		mat-dialog-close
		aria-label="close dialog"
		mat-dialog-close
	>
		<mat-icon>close</mat-icon>
	</button>
	<mat-tab-group color="accent" mat-align-tabs="center" dynamicHeight>
		<mat-tab label="Login">
			<form [formGroup]="loginGroup" (submit)="login()" novalidate>
				<mat-form-field appearance="fill">
					<mat-label>Enter your email</mat-label>
					<input type="email" matInput required formControlName="email"/>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Enter your password</mat-label>
					<input type="password" matInput required formControlName="password"/>
				</mat-form-field>
				<button type="submit" [disabled]="loginGroup.invalid" mat-raised-button color="accent">Login</button>
			</form>
		</mat-tab>
		<mat-tab label="Register">
			<form [formGroup]="registerGroup" (submit)="register()" novalidate>
				<mat-form-field *ngIf="role" appearance="fill">
					<mat-label>Enter company name</mat-label>
					<input matInput required formControlName="company_name"/>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Enter your email</mat-label>
					<input matInput required formControlName="email"/>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Enter your password</mat-label>
					<input type="password" matInput required formControlName="password"/>
				</mat-form-field>
				<mat-form-field appearance="fill">
					<mat-label>Repeat your password</mat-label>
					<input type="password" matInput required formControlName="repeatPassword"/>
				</mat-form-field>
				<button type="submit" [disabled]="registerGroup.invalid" mat-raised-button color="accent">
					Register
				</button>
			</form>
		</mat-tab>
	</mat-tab-group>
</mat-dialog-content>
