.job-card {
	margin: 15px;
}

mat-card-subtitle {
	margin: 0;
}

.salary {
	display: inline-block;
	color: #ff3e7f;
	font-weight: 700;
}

.image {
	padding: 10px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
