<a *ngIf="job" [routerLink]="['job-offers', job.id]">
	<mat-card>
		<mat-card-header>
			<div class="job-image">
				<img
					[src]="jobImageUrl + job.image"
					(error)="job.image = 'default.png'"
					loading="lazy"
					alt="{{job.company}}"
				/>
			</div>
			<mat-card-title>{{job.name}}</mat-card-title>
			<mat-card-subtitle>{{job.company}}</mat-card-subtitle>
			<mat-card-subtitle class="salary" *ngIf="job.salary">
				{{job.salary.min | currency}} - {{job.salary.max | currency}} USD
			</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<div class="tech">
				<p *ngFor="let tech of job.skills">{{tech.name}}</p>
			</div>
		</mat-card-content>
	</mat-card>
</a>

