<mat-card routerLink="/" *ngIf="job">
	<mat-card-header>
		<div class="job-image">
			<img [src]="job.image" alt="logo"/>
		</div>
		<mat-card-title>{{job.name}}</mat-card-title>
		<mat-card-subtitle>{{job.company}}</mat-card-subtitle>
		<mat-card-subtitle class="salary">
			{{job.salary.min | currency}} - {{job.salary.max | currency}} USD
		</mat-card-subtitle>
	</mat-card-header>
	<mat-card-content>
		<div class="tech">
			<p *ngFor="let tech of job.technologies">{{tech}}</p>
		</div>
	</mat-card-content>
</mat-card>
