<app-filters></app-filters>
<section class="jobs">
	<mat-card>
		<mat-card-header>
			<div class="job-image">
				<img
					src="https://cdn.pixabay.com/photo/2021/10/22/11/42/astronaut-6732418_960_720.png"
					alt="logo"
				/>
			</div>
			<mat-card-title>Junior Frontend Developer </mat-card-title>
			<mat-card-subtitle>2 000 - 5 000 USD</mat-card-subtitle>
		</mat-card-header>
		<mat-card-content>
			<p>DEV Company sp. z o.o</p>
			<div class="tech">
				<p>JavaScript</p>
				<p>Styled Components</p>
				<p>React</p>
			</div>
		</mat-card-content>
	</mat-card>
</section>
