<div class="wrapper">
	<app-back-button></app-back-button>

	<mat-card>
		<form>
			<mat-form-field appearance="fill">
				<mat-label>Actual password</mat-label>
				<input type="password" autocomplete="off" matInput>
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>New password</mat-label>
				<input type="password" autocomplete="off" matInput>
			</mat-form-field>
			<button type="submit" [disabled]="true" mat-raised-button color="accent">Change</button>
		</form>
	</mat-card>
</div>
