<div class="wrapper">
	<app-back-button></app-back-button>

	<mat-card>
		<form [formGroup]="changePasswordGroup" (submit)="submitForm()">
			<mat-form-field appearance="fill">
				<mat-label>Actual password</mat-label>
				<input type="password" autocomplete="off" matInput formControlName="password">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>New password</mat-label>
				<input type="password" autocomplete="off" matInput formControlName="newPassword">
			</mat-form-field>
			<mat-form-field appearance="fill">
				<mat-label>Repeat new password</mat-label>
				<input type="password" autocomplete="off" matInput formControlName="confirmNewPassword">
			</mat-form-field>
			<button
				type="submit"
				[disabled]="changePasswordGroup.invalid"
				mat-raised-button
				color="accent"
			>
				Change
			</button>
		</form>
	</mat-card>
</div>
