<mat-toolbar color="primary">
	<mat-toolbar-row>
		<a routerLink="/">
			<span>FindITJob</span>
		</a>
		<button
			mat-mini-fab
			color="accent"
			class="dark-mode"
			(click)="toggleTheme()"
		>
			<mat-icon>{{
				darkTheme.value ? "bedtime" : "brightness_5"
			}}</mat-icon>
		</button>
		<span class="spacer"></span>
		<div class="nav" [class.hidden]="isOpen">
			<mat-list role="list">
				<mat-list-item role="listitem">
					<a mat-button href="#">Jobs</a>
				</mat-list-item>
				<mat-list-item role="listitem">
					<a mat-button disabled href="#">Matches</a>
				</mat-list-item>
				<mat-list-item role="listitem">
					<a
						mat-raised-button
						[matMenuTriggerFor]="menu"
						color="accent"
						href="#"
						>Login <mat-icon>expand_more</mat-icon>
					</a>

					<mat-menu #menu="matMenu">
						<a mat-menu-item href="#">Login as developer</a>
						<a mat-menu-item href="#">Login as employer</a>
					</mat-menu>
				</mat-list-item>
			</mat-list>
		</div>

		<button class="hamburger" mat-icon-button (click)="toggleNav()">
			<mat-icon>menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
