<mat-toolbar color="primary">
	<mat-toolbar-row>
		<a routerLink="/">
			<span>FindITJob</span>
		</a>
		<button
			mat-mini-fab
			color="accent"
			class="dark-mode"
			(click)="toggleTheme()"
		>
			<mat-icon>{{
				darkTheme.value ? "bedtime" : "brightness_5"
			}}</mat-icon>
		</button>
		<span class="spacer"></span>
		<div class="nav" [class.hidden]="isOpen">
			<mat-list role="list">
				<mat-list-item role="listitem">
					<a mat-button routerLink="/">Jobs</a>
				</mat-list-item>
				<mat-list-item role="listitem">
					<a mat-button disabled routerLink="/">IT Stats</a>
				</mat-list-item>
				<mat-list-item role="listitem">
					<a
						mat-raised-button
						[matMenuTriggerFor]="menu"
						color="accent"
						routerLink="matches"
						>{{ ($isLogged | async) ? "Profile" : "Login" }}
						<mat-icon>expand_more</mat-icon>
					</a>
					<mat-menu #menu="matMenu" [ngSwitch]="$isLogged | async">
						<button
							mat-menu-item
							*ngSwitchCase="false"
							(click)="openDialog('developer')"
						>
							Login as developer
						</button>
						<button
							mat-menu-item
							*ngSwitchCase="false"
							(click)="openDialog('employer')"
						>
							Login as employer
						</button>

						<button mat-menu-item *ngSwitchCase="true">
							Settings
						</button>
						<button mat-menu-item *ngSwitchCase="true">
							Matchmaking
						</button>
						<button mat-menu-item *ngSwitchCase="true">
							Logout
						</button>
					</mat-menu>
				</mat-list-item>
			</mat-list>
		</div>
		<button class="hamburger" mat-icon-button (click)="toggleNav()">
			<mat-icon>menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
