<mat-toolbar color="primary">
	<mat-toolbar-row>
		<a routerLink="/">
			<span>FindITJob</span>
		</a>
		<button
			mat-mini-fab
			color="accent"
			class="dark-mode"
			(click)="toggleTheme()"
		>
			<mat-icon>
				{{darkTheme.value ? "bedtime" : "brightness_5"}}
			</mat-icon>
		</button>
		<span class="spacer"></span>
		<div class="nav" [class.hidden]="isOpen">
			<mat-list role="list">
				<mat-list-item role="listitem">
					<a mat-button routerLink="/">Jobs</a>
				</mat-list-item>
				<mat-list-item role="listitem" *ngIf="($isLogged | async) && ($isEmployer | async)">
					<a mat-button routerLink="/settings/post-job">Post a job</a>
				</mat-list-item>
				<mat-list-item role="listitem">
					<button
						*ngIf="!($isLogged | async)"
						mat-raised-button
						color="accent"
						(click)="openDialog()"
					>
						Sign in
						<mat-icon>login</mat-icon>
					</button>

					<ng-container *ngIf="$isLogged | async">
						<button
							mat-raised-button
							[matMenuTriggerFor]="menu"
							color="accent"
						>
							Profile
							<mat-icon>expand_more</mat-icon>
						</button>

						<mat-menu #menu="matMenu">
							<button mat-menu-item routerLink="settings">
								Settings
							</button>
							<button mat-menu-item (click)="logout()">
								Logout
							</button>
						</mat-menu>
					</ng-container>
				</mat-list-item>
			</mat-list>
		</div>
		<button class="hamburger" mat-icon-button (click)="toggleNav()">
			<mat-icon>menu</mat-icon>
		</button>
	</mat-toolbar-row>
</mat-toolbar>
