.wrapper {
	padding: 15px;
	position: relative;

	.back-btn {
		display: block;
		width: fit-content;
		margin-bottom: 15px;
	}

	table {
		width: 100%;

		.mat-column-options {
			text-align: center;
			width: 40px;
		}
	}
}


