.filters {
	max-width: 1600px;
	margin: 0 auto;
}

.chip-list {
	padding: 15px 15px 0 15px;
	box-sizing: border-box;
	width: 100%;
}

.salary {
	margin: 0;

	span {
		color: #ff3f80;
	}
}

mat-slider {
	width: 100%;
}

mat-expansion-panel {
	margin: 0 15px 15px 15px;
	max-width: 500px;
}

mat-radio-group {
	display: block;
	margin-bottom: 10px;
}

.mat-radio-button {
	margin-right: 16px;
	margin-bottom: 10px;
}

.remote,
.experience,
.technologies,
.tech {
	background-color: #ff3f80;
	padding: 0.3em;
	border-radius: 5px;
	color: #fff;
}

.remote {
	margin-right: 0.5em;
}

.technologies {
	padding: 0;
	background: none;
	display: block;
	margin-top: 0.5em;
	width: fit-content;

	.tech {
		display: inline-block;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		background-color: #ff3f80;
	}
}
