.filters {
	max-width: 1600px;
	margin: 0 auto;
}

.categories {
	display: flex;
	overflow: scroll;

	&::-webkit-scrollbar {
		display: none;
	}

	.category {
		margin: 15px 0;
		margin-right: 15px;
		padding: 0;
		display: flex;

		label {
			display: block;
			padding: 15px;
		}

		label > mat-checkbox:checked {
			background-color: red !important;
		}

		&:nth-of-type(1) {
			margin-left: 15px;
		}
	}
}

mat-expansion-panel {
	margin-bottom: 15px;
	max-width: 500px;
}

mat-radio-group {
	display: block;
	margin-bottom: 10px;
}

.mat-radio-button {
	margin-right: 16px;
	margin-bottom: 5px;
}

.remote,
.experience,
.technologies,
.tech {
	background-color: #ff3f80;
	padding: 0.3em;
	border-radius: 5px;
	color: #fff;
}

.remote {
	margin-right: 0.5em;
}

.technologies {
	padding: 0;
	background: none;
	display: block;
	margin-top: 0.5em;
	width: fit-content;

	.tech {
		display: inline-block;
		margin-right: 0.5em;
		margin-bottom: 0.5em;
		background-color: #ff3f80;
	}
}
