<section class="filters">
	<div class="categories">
		<mat-card class="category" *ngFor="let category of categories">
			<label>
				<mat-checkbox
					(change)="categoryHandle($event)"
					class="example-margin"
					[id]="category"
					>{{ category }}</mat-checkbox
				>
			</label>
		</mat-card>
	</div>

	<mat-expansion-panel
		(opened)="panelOpenState = true"
		(closed)="panelOpenState = false"
	>
		<mat-expansion-panel-header>
			<mat-panel-title> More filters </mat-panel-title>
		</mat-expansion-panel-header>

		<p>Remote:</p>
		<mat-radio-group id="remote" (change)="remoteHandle($event)">
			<mat-radio-button [checked]="true">Any</mat-radio-button>
			<mat-radio-button value="true">Yes</mat-radio-button>
			<mat-radio-button value="false">No</mat-radio-button>
		</mat-radio-group>
		<p>Experience:</p>
		<mat-radio-group id="exp" (change)="experienceHandle($event)">
			<mat-radio-button [checked]="true">Any</mat-radio-button>
			<mat-radio-button value="Junior">Junior</mat-radio-button>
			<mat-radio-button value="Mid">Mid</mat-radio-button>
			<mat-radio-button value="Senior">Senior</mat-radio-button>
		</mat-radio-group>
		<p class="salary">
			Min. salary:
			<span>
				{{ preferences.value.minSalary || salary.value / 1000 + "k" }}
				USD
			</span>
		</p>
		<mat-slider
			#salary
			tickInterval="1000"
			step="1000"
			min="0"
			max="50000"
			aria-label="units"
		></mat-slider>
	</mat-expansion-panel>

	<mat-card *ngIf="showPreferences">
		<mat-card-subtitle> You are searching for: </mat-card-subtitle>
		<mat-card-content>
			<span class="remote" *ngIf="preferences.value.remote != null">
				{{ preferences.value.remote ? "Remote" : "Not remote" }}
			</span>
			<span class="experience" *ngIf="preferences.value.experience">
				{{ preferences.value.experience }}
			</span>
			<span
				class="technologies"
				*ngIf="preferences.value.technologies?.length !== 0"
			>
				<span
					class="tech"
					*ngFor="let tech of preferences.value.technologies"
				>
					{{ tech }}
				</span>
			</span>
		</mat-card-content>
	</mat-card>
</section>
