<section class="filters">
	<div class="categories">
		<mat-form-field class="chip-list" appearance="fill">
			<mat-label>Skills</mat-label>
			<mat-chip-list #chipList aria-label="Skills selection">
				<mat-chip
					*ngFor="let skill of filters.value.skills"
					(removed)="remove(skill)">
					{{skill}}
					<button matChipRemove>
						<mat-icon>cancel</mat-icon>
					</button>
				</mat-chip>
				<input
					placeholder="Search.."
					#techInput
					[formControl]="skillsForm"
					[matAutocomplete]="auto"
					[matChipInputFor]="chipList"
					[matChipInputSeparatorKeyCodes]="separatorKeysCodes"
					(matChipInputTokenEnd)="add($event)">
			</mat-chip-list>
			<mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
				<mat-option *ngFor="let skill of filteredSkills | async" [value]="skill">
					{{skill}}
				</mat-option>
			</mat-autocomplete>
		</mat-form-field>
	</div>

	<mat-expansion-panel
		(opened)="panelOpenState = true"
		(closed)="panelOpenState = false"
	>
		<mat-expansion-panel-header>
			<mat-panel-title> More filters</mat-panel-title>
		</mat-expansion-panel-header>

		<p>Remote:</p>
		<mat-radio-group
			id="remote"
			[value]="this.filters.value.remote"
			(change)="remoteChange($event)"
		>
			<mat-radio-button value="any">Any</mat-radio-button>
			<mat-radio-button value="true">Yes</mat-radio-button>
			<mat-radio-button value="false">No</mat-radio-button>
		</mat-radio-group>
		<p>Experience:</p>
		<mat-radio-group
			[(ngModel)]="this.filters.value.experience"
			(change)="experienceChange($event)"
		>
			<mat-radio-button value="any">Any</mat-radio-button>
			<mat-radio-button value="junior">Junior</mat-radio-button>
			<mat-radio-button value="mid">Mid</mat-radio-button>
			<mat-radio-button value="senior">Senior</mat-radio-button>
		</mat-radio-group>
		<p class="salary">
			Expected salary:
			<span>{{ 0 || salary.value / 1000 + "k" }} USD</span>
		</p>
		<mat-slider
			#salary
			[(ngModel)]="filters.value.salary"
			(ngModelChange)="salaryChange(salary.value)"
			tickInterval="1000"
			step="1000"
			min="0"
			max="50000"
			aria-label="units"
		></mat-slider>
	</mat-expansion-panel>
</section>
