app-nav {
	display: block;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 10;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
}

.content {
	box-sizing: border-box;
	padding-top: 64px;
	margin: 0 auto;
	min-height: calc(100vh - 86px);
	max-width: 1400px;
}
