@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	transition: background-color 0.3s;

	.snackbar {
		color: white;

		&-valid {
			background-color: #4BB543;
		}

		&-invalid {
			background-color: #ff0033;
		}
	}


	.mat {

		&-form-field {
			margin-bottom: 5px;
		}

		&-card-avatar {
			border-radius: 0;
		}

		&-button-disabled span {
			color: #a5a5a5;
		}
	}


	&.darkTheme, {
		background-color: #212120;

		.mat {
			&-icon,
			&-card {
				color: #fff
			}

			&-paginator {
				color: white;
				background-color: #212120;
			}

			&-select-panel {
				background-color: #424141;
			}

			&-menu-panel {
				background-color: #424141;

				button {
					color: #fff;
				}
			}

			&-dialog-container {
				color: #fff;
			}

			&-form-field {
				&-flex {
					background-color: #7a7a7a;
				}

				&-underline::before {
					background-color: #ffffff;
				}
			}

			.mat-option.mat-selected:not(.mat-active):not(:hover):not(.mat-option-disabled) {
				background-color: #424141;

			}

			&-autocomplete {
				&-panel {
					background-color: #424141;
				}
			}

			&-chip.mat-standard-chip {
				background-color: #424141;
				color: #fff;
			}

			&-card,
			&-list,
			.loginDialog,
			&-dialog-container,
			&-toolbar,
			&-toolbar-row,
			&-expansion-panel {
				background-color: #424141;
			}

			&-expansion-indicator::after {
				border-color: #fff;
			}

			&-button-disabled span {
				color: #a5a5a5;
			}

			&-label,
			&-card-title,
			&-panel-title,
			&-card-subtitle,
			&-tab-label-content,
			&-expansion-panel-header-title {
				color: #fff;
			}
		}

		.mat-autocomplete-panel .mat-option.mat-selected:not(.mat-active):not(:hover),
		.mat-expansion-panel:not(.mat-expanded):not([aria-disabled=true]),
		.mat-expansion-panel-header:hover {
			background-color: #424141;
		}

		.mat-list-item .mat-list-item-content {
			display: flex;
			flex-direction: row-reverse !important;
			justify-content: flex-end !important;
		}

		table {
			background-color: #504c4c;
			border-radius: 15px;
		}

		span {
			border-color: #fff;
		}

		p, h3, td, th, li, span, input {
			color: #fff;
		}
	}
}

a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: unset;
}

.wrapper {
	max-width: 800px;
	margin: 0 auto;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}
