@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html,
body {
	height: 100%;
	margin: 0;
	font-family: Roboto, "Helvetica Neue", sans-serif;
	transition: background-color 0.3s;

	.mat-button-disabled span {
		color: #a5a5a5;
	}

	&.darkTheme {
		background-color: #212120;

		mat-card,
		mat-list,
		.loginDialog,
		mat-dialog-container,
		mat-toolbar-row,
		mat-expansion-panel,
		.mat-expansion-panel:not(.mat-expanded):not([aria-disabled="true"])
			.mat-expansion-panel-header:hover {
			background-color: #424141;
		}

		span,
		.mat-expansion-indicator::after {
			border-color: #fff;
		}

		p,
		span,
		mat-label,
		input,
		mat-card-title,
		mat-panel-title,
		mat-card-subtitle,
		.mat-tab-label-content {
			color: #fff;
		}

		.mat-button-disabled span {
			color: #a5a5a5;
		}
	}
}
a,
a:visited,
a:hover,
a:active {
	color: inherit;
	text-decoration: unset;
}
