.settings {
	padding: 15px;

	mat-card {
		margin: 0 auto;
		max-width: 500px;

		mat-card-header {
			display: flex;
			align-items: flex-end;
			margin-bottom: 1em;

			.company-logo {
				background-size: cover;
				background-position: center;

				img {
					display: block;
					width: 50px;
				}
			}
		}

		mat-card-content {

			a {
				margin-bottom: 15px;
				display: block;
				width: fit-content;
			}
		}
	}

	mat-card:nth-child(1) {
		margin-bottom: 15px;
	}
}
