.settings {
	padding: 15px;

	mat-card {
		margin: 0 auto;
		max-width: 500px;

		mat-card-content {

			a {
				margin-bottom: 15px;
				display: block;
				width: fit-content;
			}
		}
	}

	mat-card:nth-child(1) {
		margin-bottom: 15px;
	}
}
